<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>바닐라 스크립트 라니...</title>
</head>

<body>
<div id="app">
</div>
</body>

</html>
